.container {
    width: calc(100%-16px);
    height: 100%;
    font-size: 1rem;
    margin: 16px;
}
.appAlertButton {
    margin: 8px;
}

.passIdContainer {
    display: flex;
}

.pluginExampleContainer {
    padding: 20px 0 20px 0;
    width: 100%;
    align-self: center;
}

.row-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction:
    column; background-color: blue;
    overflow: hidden;
}